* {
  box-sizing: border-box;
  margin: 0;
}

header {
  background-color: #082032;
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
  color: white;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

main {
  display: flex;
  justify-content: space-between;
  /* margin: 15px 0; */
  /* background-color: #efb7b7; */
  padding: 15px;
}

main div {
  display: grid;
  place-items: center;
  width: 500px;
  height: inherit;
  border: 2px solid grey;
  border-radius: 10px;
  background-color: #eeeeee;
}

div img {
  width: 400px;
  /* height: inherit; */
}

footer {
  background-color: #000000;
  display: flex;
  justify-content: center;
  color: white;
}
